:root{
    --white: #fff;
    --gray: rgba(162, 164, 165);
    --linear-pink: rgba(92, 33, 239, 1);
    --linear-blue: rgba(53, 87, 246, 1);
    --card-color: rgb(50, 50, 50);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.flexbox{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 120rem;
    width: 100%;
}

.section-bg-img{
    background-size: cover;
    background-position: 0% 40%;
    background-repeat: no-repeat;
}

.menu{
    height: 6rem;
    width: 100%;
}

.menu__inner{
    max-width: 150rem;
    width: 90%;
    justify-content: space-between;
}

.menu__item:link{
    color: var(--gray);
    text-decoration: none;
    margin-right: 1.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.menu__item:hover{
    text-decoration: underline;
}

.menu__item:visited{
    color: var(--gray);
}

.menu__icon--social{
    text-decoration: none;
}

/* SLASH */
.double-slash{
    letter-spacing: 1px;
}

.double-slash--gradient{
  
  font-weight: 700;
  margin-right: .2rem;
}

.text-gradient{
    /* txt gradient */
    background: -webkit-linear-gradient( rgba(92, 33, 239, 1),
    rgba(53, 87, 246, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* BUTTON */
.btn{
    text-align: center;
    position: relative;
    width: 10rem;
    height: 5rem;
    border: none;
    overflow: hidden;
    text-transform: uppercase;
    font-weight: 700;
/* clip */
-webkit-clip-path: polygon(100% 0px, 100.00% 73.43%, 92.18% 100%, 0px 100%, 0px 0px);
 clip-path: polygon(100% 0px, 100.00% 73.43%, 92.18% 100%, 0px 100%, 0px 0px);
}

.btn:hover{
    cursor: pointer;
    opacity: .5;
}

/* .btn::before{
    width: 5rem;
    height: 5rem;
    position: absolute;
    content: "";
    bottom: 0;
    right: 0;
    background-color: black;
    transform: translate(70%, 70%) rotate(40deg);
} */

.bnt--linear-gradient{
    color: var(--white);
    background-image: linear-gradient(120deg , var(--linear-pink), var(--linear-blue));
}

.btn--reverse-linear{
    background-image: linear-gradient(to left, var(--linear-pink), var(--linear-blue));
}

.btn--border-only{
    position: relative;
    width: 14rem;
    height: 3rem;
    background-color: transparent;
    border: 2.5px solid var(--white);
    color: var(--white);
    overflow: hidden;
}

/* .btn--border-only::before{
    position: absolute;
    content: "";
    border-top: 2.5px solid var(--white);
    width: 100px;
    height: 5px;
    bottom: 0;
    right: 0;
    transform:rotate(45deg)translate(0%,0%);
} */
/* CARDS */

.cards{
    margin-top: 5rem;
    width: 100%;
    justify-content: space-between;
}

.card{
    /* position: relative; */
    background-color: var(--card-color);
    box-shadow: 0 0 0 1px rgba(50, 50, 50, 0.233);
    overflow: hidden;
    border: none;
/* clip */
    -webkit-clip-path: polygon(100% 0px, 100% 94.86%, 93.26% 100%, 0px 100%, 0px 0px);
    clip-path: polygon(100% 0px, 100% 94.86%, 93.26% 100%, 0px 100%, 0px 0px);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.card--overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .card::before{
position: absolute;
content: "";
bottom: 0;
right: 0;
transform: translate(60%, 60%)rotate(45deg);
background-color: var(--white);
width: 5rem;
height: 5rem;
} */

/* SECTION HEADER */
.section-msg{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}


.section-msg__first-paragraph{ 
    position: relative;
    margin-top: 10rem;
    position: relative;
    text-transform: uppercase;
    font-weight: 500;
}

.section-msg__first-paragraph::before{
    position: absolute;
    content: "";
    width: 5rem;
    height: .04rem;
    border: 2px dashed var(--gray);
    bottom: 0;
    left: 0;
    transform: translate(50%, 1rem);
    border-width: 1px;
}

/* h2 */
.section-msg__heading{
    margin-top: 2rem;
    font-size:3.2rem;
    text-transform: uppercase;
}

.section-msg__second-paragraph{
    margin-top: .5rem;
    font-size: 1.8rem;
    width: 45ch;
    text-align: center;
    line-height: 1.5;
}

/* Small card */
.span-card{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--white);
    -webkit-clip-path: polygon(100% 0px, 100.00% 100.00%, 100% 64.86%, 73.26% 100%, 0px 100%, 0px 0px);
    clip-path: polygon(100% 0px, 100.00% 100.00%, 100% 64.86%, 73.26% 100%, 0px 100%, 0px 0px);

}

/* LIST */

.list{
    list-style: none;
}

.list-item{
margin-top: 2.2rem;
}

/*  OTHER GENERAL ITEMS */
.check-mark--green{
    fill: green;
    z-index: 1;
}