:root{
    --main-footer:rgba(17, 22, 24, 1);
    --white: #fff;
    --light-grey: #ddd;
    --ligtish-grey: #999;
    --gray: rgba(160, 160, 160);
    --linear-pink: rgba(92, 33, 239, 1);
    --linear-blue: rgba(53, 87, 246, 1);
    --card-color: rgb(50, 50, 50);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.5rem;
    line-height: 1;
    font-family: her;
    color: var(--gray);
    font-family: 'Roboto', sans-serif;
}

/* NAVIGATION */

.sos-line {
    display: flex;
    gap: 1rem;
}


.menu--main{
    background-color: var(--main-footer);
    position: relative;
    overflow: hidden;
}

.menu--main::before{
    content: "";
    background-color: var(--white);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 6rem;
    width: 15rem;
    transform: translatex(-60%) rotate(45deg);
}

.sos-line-icon{
    fill: var(--white);
}
.sos-line__first-msg{
    text-transform: uppercase;
    color: var(--white);
}

.sos-line__msg{
    text-transform: uppercase;
    word-spacing: -0.2rem;
}

.secundery--menu{
    background-color: var(--white);
    height: 10rem;
}

.btn--free-quote{
    width: 11rem;
    height: 3.5rem;
}

.btn--free-quote::before{
    background-color: var(--white);
}

/* HERO SECTION */
.hero-section{
    height: 60rem;
    background-image: url(../images/header-home01-header.jpg);
}

.hero{
    justify-content: flex-start;
}

.hero__inner{
   width: 54rem;
   display: flex;
   flex-direction: column;
   gap: 2rem;
}

.hero__inner::before{
    content: "";
    top: 0;
    left: 0;
    width: 10rem;
    height: .5rem;
    background-color: var(--white);
}

.heading__hero-title{
    color: var(--white);
    font-size: 6rem;
    text-transform: uppercase;
    line-height: 1.2;
}

.hero__paragraph{
    color: var(--white);
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 500;
}

.hero__btn{
    padding: 1.8rem 0rem;
    width: 17rem;
    height: 5rem;
}

/* SERVICES SECTION */
.services{
    height: 100rem;  
}

.services{
    flex-direction: column;
}

/* .our-services::before{
    content: "";
    padding-bottom: 1rem;
    width: 5rem;
    height: 1rem;
    border: 1px dashed #999;
} */

.services__card{
    width: 37rem;
    height: 54rem;
    gap: 2rem;
}

.services__card:hover{
    background-image: 
    linear-gradient(45deg, rgba(16, 5, 53, 1), rgba(21, 102, 171, 1));
    transform: translateY(-5%);
}

.services__img{
    height: 60%;
}


.services__heading{
    color: var(--card-color) !important;
}

.services__card--paragraph{
    width: 30ch;
    margin-left: 2rem;
    line-height: 1.4;
    font-weight: 500;

}

.services__card--heading{
    font-size: 2.4rem;
    color: var(--white);
    text-transform: uppercase;

}


/* HOW IT WORKS SECTION */

.how-it-works{
    background-image: url(../images/home-01-bg-video2.jpg);
}

.how-it-works__msg--heading,
.how-it-works__msg--secund-paragraph{
    color: var(--white);
}

.experience-safety::before{
    transform: translate(90%, 1rem);

}

.how-it-works__video{
    background-image: url(../images/home-01-video.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 55rem;
    width: 100%;
    transform: translateY(5%);
    margin-top: 3rem;
}

.how-it-works__video:hover{
    cursor: pointer;
}

/* CUSTOMER TESTIMONIALS SECTION */
.customers{
    height: 70rem;
}

.heading-customers{
    position: relative;
    margin-bottom: 2.5rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--card-color);
}

.heading-customers::before{
    position: absolute;
    content: "";
    width: .8rem;
    height: .8rem;
    background-image: linear-gradient(to right, var(--linear-pink), var(--linear-blue));
    bottom: 0;
    left: 0;
    transform: translate(24rem, -.5rem);
}

.testimonials{
    justify-content: space-between;
}

.testimonial{
    position: relative;
    width: 27rem;
    height: 37rem;
    background-position: center;
}

.testimonial--1{
    background-image: url('../images/testimonial--1__370x370.jpg');
}

.testimonial--2{
    background-image: url('../images/testimonial--2__370x370.jpg');
}

.testimonial--3{
    background-image: url('../images/testimonial--3.jpg');
}

.testimonial--4{
    background-image: url('../images/testimonial--4.jpg');
}

.testimonial__inner{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%, -100%);
    padding-left: 1rem;
    border-left: 3px solid var(--white);
}

.testimonial__heading{
    font-size: 1.8rem;
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .5rem;
}

.testimonial__paragraph{
    font-size: 1.4rem;
    color: var(--gray);
    text-transform: uppercase;
    font-weight: 700;

}

/* ABOUT US SECTION */
.about-us--section{
    height: 73rem;
    background-image: url('../images/home-01-bg-video2.jpg');
}

.about-us{
    width: 50%;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

/* .about-us__container{
    justify-content: space-between;
} */

.about-us__title{
    width: 100%;
    text-transform: uppercase;
    color: var(--white);
    font-weight: 700;
    padding-bottom: 1rem;
    border-bottom: 2px dotted var(--ligtish-grey);
}

.about-us__heading{
    color: var(--white);
    line-height: 1.3;
    text-transform: capitalize;
}

.bet-us{
    display: block;
}

.about-us__paragraph{
    width: 50ch;
    text-align: left;
    color: var(--white);
}

.about-us__item{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid var(--white);
}

.about-us__list{
    color: var(--white);
    width: 50%;
}


.about-us__list-item{
    gap: 1rem;
    justify-content: flex-start;
}

.about-us__ilustration{
    transform:rotate3d(0, 1, 0, 180deg) scale(1.8);
}

/* SEMINAR SECTION */
.seminar-section{
    height: 96rem;
}
.seminar{
    flex-direction: column;
    gap: 6rem;    
}

.seminar__heading{
    color: var(--card-color);
}

.training-seminars {
    margin-top: 0rem;
}

.training-seminars::before{
    width: 6rem;
    transform: translate(73%, 1rem);
}

.timer-box{
    width: 100%;
    height: 51.5rem;
    background-image: url('../images/event-25060-1170x641.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 40%;
    -webkit-clip-path: polygon(100% 0px, 99.84% 90.00%, 96.26% 100%, 0px 100%, 0px 0px);
    clip-path: polygon(100% 0px, 99.84% 90.00%, 96.26% 100%, 0px 100%, 0px 0px);
}

.timer-box__inner{
    height: 100%;
    flex-direction: column;
    gap: 3rem;
}

.timer-box__title{
    font-size: 1.2rem;
    font-weight: 500;
}

.timer-box__inner{
    color: var(--white);
    text-transform: uppercase;
}

.timer__conference{
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    -webkit-clip-path:     polygon(100% 0px, 100.00% 70.00%, 93% 99.86%, 73.26% 100%, 0px 100%, 0px 0px);
    clip-path: polygon(100% 0px, 100.00% 70.00%, 93% 99.86%, 73.26% 100%, 0px 100%, 0px 0px);
    text-align: center;
    padding: .2rem;
    margin-right: 1rem;
}

.timer-box__heading{
    font-size: 5rem;
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}

.timer-box__paragraph{
    color: var(--light-grey);
    text-transform: none;
    line-height: 1.5;
    width: 65ch;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
}

.timer-box__event-timer-box{
    width: 42rem;
    height: 8rem;
    border: 2px solid var(--white);
    padding: 2rem 2.5rem;
    text-align: center;
    background-image: url("../images/footer-field-bg2_OPT.png");
}

.timer__time-until-event{
    font-size: 4rem;
    font-weight: 700;
}
.btn--timer-box{
    width: 14.5rem;
    height: 5rem;
    padding: 1.8rem 0;
}

/* GET IN TOUCH */
.get-in-touch-section{
    /* position: relative; */
    flex-direction: column;
    /* gap: 15rem; */
    justify-content: space-around;
    height: 80rem;
    background-image: url(../images/home2-bg-contacts.jpg);
    background-repeat: repeat-y;
    background-size: 1rem 1rem;
    background-position: 0% 0%;
    background-size: 100% 70rem;
    background-position-y: 135%;
}

.get-in-touch-facts{
 flex-direction: column;
}

.get-in-touch-facts__title,
.get-in-touch-facts__subtitle{
    color: var(--white);
}

.get-in-touch-facts__title{
    font-size: 3rem;
    text-transform: uppercase;
}
.get-in-touch-facts__subtitle{
    margin-top: 2rem;
}

.get-in-touch-info{
    gap: 3rem;
}

.get-in-touch-info__heading{
    color: white;
    text-transform: capitalize;
    width: 25ch;
}

.get-in-touch-info__title{
    width: 75%;
}
.get-in-touch-info__grouping-box{
    width: 100%;
}
.phone-number,
.email{
    margin-bottom: 2rem;
    font-weight: 500;
}

.phone-number__item,
.email__item{
    margin-top: 1rem;
    color: var(--white);
}
/* .get-in-touch-info__heading{
    font-size: 5rem;
    text-transform: capitalize;
} */

/* form */

.get-in-touch-form__inner{
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    display: grid;
    grid-template-rows: repeat(3, 4rem) 5rem repeat(3, 4rem);
    grid-template-columns:  30rem 4rem 30rem;
    row-gap: 1rem;
}

.your-msg-label{
    grid-column: 1/2;
    grid-row: 1/2;
}

.your-msg{
    grid-column: 1/-1;
    grid-row: 2/4;
}

.your-email-label{
    grid-column: 3/4;
    grid-row: 4/5;
}

.your-email{
    grid-column: 3/4;
    grid-row: 5/6;
}

.your-name-label{
    grid-column: 1/2;
    grid-row: 4/5;

}

.your-name{
    grid-column: 1/2;
    grid-row: 5/6;
}

.your-phone-number-label{
    grid-column: 1/2;
    grid-row: 6/7;
}

.your-phone-number{
    grid-column: 1/2;
    grid-row: 7/8;
}

.btn--form{
    grid-column: 3/4;
    grid-row: 7/8;
    width: 100%;
    height: 100%;

    -webkit-clip-path: polygon(100% 0px, 100.00% 78.43%, 97.18% 100%, 0px 100%, 0px 0px);
clip-path: polygon(100% 0px, 100.00% 78.43%, 97.18% 100%, 0px 100%, 0px 0px);
}

.your-msg-label,
.your-email-label,
.your-name-label,
.your-phone-number-label{
    align-self: flex-end;    
}

.form-overlay{
    background-color: rgba(0, 0, 0, 0.555);
    width: 100%;
    height: 45rem;
    border: 1px solid #333;
}

/* PRICING PLAN SECTION */

.pricing-section{
    height: 110rem;
}

.pricing{
    flex-direction: column;
}

.pricing__card{
    width: 27rem;
    height: 66rem;

-webkit-clip-path: polygon(100% 0px, 100.37% 96.38%, 93.26% 100%, 0px 100%, 0px 0px);
clip-path: polygon(100% 0px, 100.37% 96.38%, 93.26% 100%, 0px 100%, 0px 0px);
}

.pricing__card:hover{
    height: 70rem;
    background-image: 
    linear-gradient(45deg, rgba(16, 5, 53, 1), rgba(21, 102, 171, 1));
    cursor: pointer;
}

.price-box{
    border-top: 5px dashed var(--ligtish-grey);
    border-bottom: 5px dashed var(--ligtish-grey);
    margin: 2rem 0;
    padding: 1rem 7rem;
    font-style: italic;
    text-align: center;

    display: grid;
    grid-template-columns: repeat(5, 3rem);
    grid-template-rows: repeat(2, 3rem);
    column-gap: 0rem;
    justify-content: center;
    align-items: center;
}

.value-sign,
.price-fraction,
.time-of-lease{
    font-size: 1.6rem;
}

.price,
.value-sign,
.price-fraction{
    color: var(--white) !important;
}

.price{
    font-size: 5rem;
    grid-column: 2/4;
    grid-row: 1/-1;
}

.value-sign{
    font-size: 2rem;
    grid-column: 1/2;
    grid-row: 2/3;
    justify-self: center;
    align-self: flex-start;
}

.price-fraction{
    grid-column: 4/5;
    grid-row: 1/2;
}

.time-of-lease{
    grid-column: 4/5;
    grid-row: 2/3;
    font-size: 1.2rem;

}
.pricing-options{
    display: flex;
    align-items: center;
    gap: 1rem;
    border-collapse: collapse;
    padding: 2.5rem;
    border-bottom: 1px solid var(--ligtish-grey);
}

.pricing__title{
    font-size: 2.4rem;
    color: var(--white);
    text-transform: uppercase;
}

.pricing__subtitle{
    font-weight: 700;
    margin-top: .5rem;
}

.pricing__option{
    font-weight: 500;
}

.pricing__option--active{
    color: #fff;
}

.bnt--pricing-card{
    margin-top: 5rem;
    width: 21rem;
    height: 3.5rem;
}

/* TRIAL SECTION */

.trial-section{
    height: 52rem;
    background-image: url('../images/footer-bg-purple_OP.jpg');
    background-repeat: repeat-y;
    background-size: 100% 80%;
    background-position-y: 240%;
}

.trial__inner{
    z-index: 1;
    background-image: url('../images/cta-decoration-margins_OPT.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    flex-direction: column;
    justify-content: space-between;
    width: 80rem;
    height: 27rem;
}

.trial__heading{
    color: var(--white);
    font-size: 4rem;
}

.trial__paragraph{
    text-transform: capitalize;
    font-weight: 500;
}

.trial__btn{
    width: 14rem;
    height: 5rem;
}